{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign columns_mobile_int = section.settings.mobile_show_product | plus: 0 
  assign columns_desktop_int = section.settings.desktop_show_product | plus: 0 
  assign Rows_mobile_int = section.settings.mobile_show_collection | plus: 0 
  assign Rows_desktop_int = section.settings.desktop_show_collection | plus: 0 
  assign Rows_int = 0
-%}

<div class="color-background-1 gradient">
  <div class="collection-list-wrapper page-width isolate no-heading no-mobile-link section-{{ section.id }}-padding">
    <div class="page-wholesale-list-box">
      <div class="wholesale-list-box-wrapper">
        <ul>
          {% assign totalrowcount = 0 %}
          {%- for block in section.blocks -%}          
          {% assign collection = block.settings.collection %}
          {% assign totalrowcount = totalrowcount | plus: 1 %}
          <li data-location="{{ collection.metafields.my_fields.country }}" data-collection="{{ collection.url }}" style="{% if totalrowcount > Rows_int %}display:none;{% endif %}">            
            <div class="collection-info-box">
              <a href="{{ collection.url }}">                
                {%- if collection.metafields.my_fields.avatar != blank -%}
                <img
                     srcset="{{ collection.metafields.my_fields.avatar | image_url: width: 64 }}"
                     alt="{{ collection.metafields.my_fields.avatar.alt | escape }}"
                     loading="lazy"
                     width="64"
                     height="64"
                     >        
                {%- endif -%}
                <div>
                  {%- if collection.metafields.my_fields.name != blank -%}
                  <p class="cinfo-title">{{ collection.metafields.my_fields.name | escape }}</p>
                  {%- endif -%}
                  {%- if collection.metafields.my_fields.location != blank -%}
                  <p class="cinfo-location">📍 {{ collection.metafields.my_fields.country | escape }}</p>
                  {%- endif -%}
                </div>                
              </a>
              <div>
                <a href="{{ collection.url }}">View Wholesaler</a>
              </div>
            </div>
            <div class="collection-list-box">
              <ul class="grid product-grid">
                {% if totalrowcount <= Rows_int %}
                {%- assign totalcount = 0 -%}
                {% assign productlist = collections[collection.handle].products | sort : 'published_at' | reverse %}
                {% for product in productlist %}
                  {%- if product.available -%}
                  {% assign productTags = product.tags | join: ',' %}                
                  {%- if product.featured_media -%}
                	{% assign totalcount = totalcount | plus: 1 %}
                	{% if totalcount <= columns_desktop_int %}
                    <li class="grid__item" data-category="{{ productTags }}">
                      {% render 'card-product',
                        card_product: product,
                        media_aspect_ratio: 'adapt',
                        show_secondary_image: 'false',
                        show_vendor: 'false',
                        show_rating: 'false',
                        lazy_load: lazy_load
                      %}
                    </li>
                    {% endif %}
                  {%- endif -%}
				  {%- endif -%}
                {% endfor %}
                {% endif %}
              </ul>
            </div>
          </li>
          {%- endfor -%}
        </ul>
        <div class="load_more_section">
          <input type="hidden" value="0" id="md_flag">
          <input type="hidden" value="0" id="filters_val">
          <input type="hidden" value="1" class="next_url">
          <input type="hidden" value="{{ Rows_desktop_int }}" id="rowdesktopval">
          <input type="hidden" value="{{ Rows_mobile_int }}" id="rowmobileval">
          <input type="hidden" value="{{ columns_mobile_int }}" id="columnmobileval">
          <input type="hidden" value="{{ columns_desktop_int }}" id="columndesktopval">
          <div class="load-more_wrap">
            <button class="btn js-load-more">Load more</button>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<script>
  $(document).ready(function() {
    $(window).on('load', function () {
      $('.js-load-more').trigger('click');
    });
  });
  $('.js-load-more').on('click', function(){
    var $vcount = 0;
    var $hcount = 0;
    if ($(window).width() < 768) {
      $vcount = $('#rowmobileval').val();
      $hcount = $('#columnmobileval').val();
    } else {
      $vcount = $('#rowdesktopval').val();
      $hcount = $('#columndesktopval').val();
    }
    var $nextval = $('.next_url').val();
    if($(".wholesale-list-box-wrapper > ul > li:hidden").length > 0) {
      $(".wholesale-list-box-wrapper > ul > li:hidden").slice(0, $vcount).each(function(index) {
        var $this = $(this);      
        $.ajax({
          url: $this.attr('data-collection'),
          type: 'GET',
          dataType: 'html',
          success: function(responseHTML){                      
            if($(responseHTML).find('.newcollection-wrap > li').length > 0) {
              $(responseHTML).find('.newcollection-wrap > li').slice(0,$hcount).each(function() {
                $this.find('.collection-list-box > ul').append($(this).get(0).outerHTML);
              });
              if($(responseHTML).find('.newcollection-wrap > li').length > $hcount) {
                $this.find('.collection-list-box > ul').append('<li class="grid__item"><div class="load_more_section_column"><input type="hidden" value="1" class="column_url"><div class="load-more_wrap"><img src="https://cdn.shopify.com/s/files/1/0610/8233/7518/files/loadmore.png?v=1650356256" alt="load more button" width=24 height=24><button class="btn js-load-more-column">Load more</button></div></div></li>');
              }
              $this.show();            
            } else {
              $this.hide();
            }
          },    
          complete: function() {                    
            $nextval++;
            $('.next_url').val($nextval);
            if($(".wholesale-list-box-wrapper > ul > li:hidden").length < 1) {
              $('.js-load-more').hide();
            }
          }
        });
      });    
    }
  });  
  $('.wholesale-list-box-wrapper').on('click','.load_more_section_column',function() {
    var $this = $(this).parent().parent().parent().parent();
    var $collection = $this.attr('data-collection');
    var $column = $(this).find('.column_url').val();
    var $cmax = $column * 10 + 10;
    var $totals = 0;
    $.ajax({
      url: $collection,
      type: 'GET',
      dataType: 'html',
      success: function(responseHTML){
        $totals = $(responseHTML).find('.newcollection-wrap > li').length;
        $this.find('.load_more_section_column').parent().remove();
        $(responseHTML).find('.newcollection-wrap > li').slice($column*10,$cmax).each(function() {
          $this.find('.collection-list-box > ul').append($(this).get(0).outerHTML);
        });
        if($(responseHTML).find('.newcollection-wrap > li').length > $cmax) {
          $column++;
          $this.find('.collection-list-box > ul').append('<li class="grid__item"><div class="load_more_section_column"><input type="hidden" value="' + $column + '" class="column_url"><div class="load-more_wrap"><img src="https://cdn.shopify.com/s/files/1/0610/8233/7518/files/loadmore.png?v=1650356256" alt="load more button" width=24 height=24><button class="btn js-load-more-column">Load more</button></div></div></li>');
        }
        $this.show();            
      },    
      complete: function() {                    
        $(this).find('.column_url').val($column);
        if($cmax >= $totals) {
          $(this).parent().hide();
        }
      }
    });
  });
  $(window).scroll(function (event) {
    event.stopImmediatePropagation();
    if($(window).scrollTop() > $(document).height() - $(window).height() - 40) {
      if($('#md_flag').val() == 0) {
        if($('#filters_val').val() == 0) {
          if($(".wholesale-list-box-wrapper > ul > li:last-child:hidden").length>0) {
            $('.js-load-more').trigger('click');
            $('#md_flag').val(1);          
          } else {
            $(".wholesale-list-box-wrapper > ul > li:last-child .load_more_section_column").trigger('click');
          }
          setTimeout(function() {
            $('#md_flag').val(0);
          }, 1000);
        }
      }      
    }    
  });
  $('.views-location .btn-apply').click(function() {
    $('.view-btn-wrap').removeClass('active');
    $(".section-wrapper .section-collection-list:hidden").show();
    $('.wholesale-list-box-wrapper > ul').css('opacity', '0');
    $('.wholesale-list-box-wrapper > ul > li').hide();
    $('.wholesale-list-box-wrapper > ul > li ul > li').remove();
    $('#filters_val').val(1);
    if($('.views-location .view-btn-container').find('.view-btnd-item.active').length > 0) {
      $('.views-location .view-btn > span > span').html('(' + $('.views-location .view-btn-container').find('.view-btnd-item.active').length + ')');
      $('.views-location .view-btn').addClass('filter-selected');
      $('.views-location').removeClass('active');

      if($('.views-category .view-btn-container').find('.view-btnd-item.active').length > 0) {
        $('.views-location .view-btn-container').find('.view-btnd-item.active').each(function() {
          var $current = $(this).find('span').html();
          $('.wholesale-list-box-wrapper > ul').find('li[data-location="' + $current + '"]').show();
        });
        $('.wholesale-list-box-wrapper > ul').find('> li:visible').each(function() {
          let $category = 'false';
          let $this = $(this);
          var $collection = $this.attr('data-collection');          
          $.ajax({
            url: $collection,
            type: 'GET',
            dataType: 'html',
            success: function(responseHTML){
              $totals = $(responseHTML).find('.newcollection-wrap > li').length;
              $(responseHTML).find('.newcollection-wrap > li').each(function() {
                let $li = $(this);
                let $li_flag = 'false';
                $('.views-category .view-btn-container').find('.view-btnd-item.active').each(function() {
                  if($li.attr('data-category').includes($(this).find('> span').html())) {
                    $li_flag = 'true';
                    return false;
                  }
                });
                if($li_flag == 'true') {
                  $this.find('.collection-list-box > ul').append($li.get(0).outerHTML);
                  $category = 'true';                  
                }
              }); 
              if($category == 'false') {
                $this.hide();
              }
            }
          });          
        });        
        setTimeout(function() {
          $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
        }, 1500);
      } else {
        $('.views-location .view-btn-container').find('.view-btnd-item.active').each(function() {
          var $current = $(this).find('span').html();    
          $('.wholesale-list-box-wrapper > ul').find('li[data-location="' + $current + '"]').show();
          $('.wholesale-list-box-wrapper > ul').find('li[data-location="' + $current + '"]').find('ul li').show();
        });     
        $('.wholesale-list-box-wrapper > ul').find('> li:visible').each(function() {
          let $category = 'false';
          let $this = $(this);
          var $collection = $this.attr('data-collection');          
          $.ajax({
            url: $collection,
            type: 'GET',
            dataType: 'html',
            success: function(responseHTML){
              $totals = $(responseHTML).find('.newcollection-wrap > li').length;
              if($totals > 0) {
                $(responseHTML).find('.newcollection-wrap > li').each(function() {
                  $this.find('.collection-list-box > ul').append($(this).get(0).outerHTML);
                });
              } else {
                $this.hide();
              }
            }
          });          
        });
        setTimeout(function() {
          $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
        }, 1500);
      }
    } else {
      if($('.views-category .view-btn-container').find('.view-btnd-item.active').length > 0) {
        $('.views-location .view-btn > span > span').html('');
        $('.views-location').removeClass('active');
        $('.views-location .view-btn').removeClass('filter-selected');
        $('.view-btn-container-box.views-location').removeClass('active');  
        $('.wholesale-list-box-wrapper > ul > li').show();
        $('.wholesale-list-box-wrapper > ul').find('> li:visible').each(function() {
          let $category = 'false';
          let $this = $(this);
          var $collection = $this.attr('data-collection');          
          $.ajax({
            url: $collection,
            type: 'GET',
            dataType: 'html',
            success: function(responseHTML){
              $totals = $(responseHTML).find('.newcollection-wrap > li').length;
              $(responseHTML).find('.newcollection-wrap > li').each(function() {
                let $li = $(this);
                let $li_flag = 'false';
                $('.views-category .view-btn-container').find('.view-btnd-item.active').each(function() {
                  if($li.attr('data-category').includes($(this).find('> span').html())) {
                    $li_flag = 'true';
                    return false;
                  }
                });
                if($li_flag == 'true') {
                  $this.find('.collection-list-box > ul').append($li.get(0).outerHTML);
                  $category = 'true';                  
                }
              }); 
              if($category == 'false') {
                $this.hide();
              }
            }
          });          
        });        
        setTimeout(function() {
          $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
        }, 1500);
      } else {
        $('#filters_val').val(0);
        $('.views-all').trigger('click');        
      }
    }
  });

  $('.views-category .btn-apply').click(function() {
    $('.view-btn-wrap').removeClass('active');
    $(".section-wrapper .section-collection-list:hidden").show();
    $('.wholesale-list-box-wrapper > ul').css('opacity', '0');
    $('.wholesale-list-box-wrapper > ul > li').hide();
    $('.wholesale-list-box-wrapper > ul > li ul > li').remove();
    $('#filters_val').val(1);
    if($('.views-category .view-btn-container').find('.view-btnd-item.active').length > 0) {
      $('.views-category .view-btn > span > span').html('(' + $('.views-category .view-btn-container').find('.view-btnd-item.active').length + ')');
      $('.views-category .view-btn').addClass('filter-selected');
      $('.views-category').removeClass('active');
      $('.wholesale-list-box-wrapper > ul > li').hide();
      $('.wholesale-list-box-wrapper > ul > li ul > li').hide();
      if($('.views-location .view-btn-container').find('.view-btnd-item.active').length > 0) {
        
        $('.views-location .view-btn-container').find('.view-btnd-item.active').each(function() {
          var $current = $(this).find('span').html();    
          $('.wholesale-list-box-wrapper > ul').find('li[data-location="' + $current + '"]').show();
        });        
        $('.wholesale-list-box-wrapper > ul').find('> li:visible').each(function() {
          let $category = 'false';
          let $this = $(this);
          var $collection = $this.attr('data-collection');          
          $.ajax({
            url: $collection,
            type: 'GET',
            dataType: 'html',
            success: function(responseHTML){
              $totals = $(responseHTML).find('.newcollection-wrap > li').length;
              $(responseHTML).find('.newcollection-wrap > li').each(function() {
                let $li = $(this);
                let $li_flag = 'false';
                $('.views-category .view-btn-container').find('.view-btnd-item.active').each(function() {
                  if($li.attr('data-category').includes($(this).find('> span').html())) {
                    $li_flag = 'true';
                    return false;
                  }
                });
                if($li_flag == 'true') {
                  $this.find('.collection-list-box > ul').append($li.get(0).outerHTML);
                  $category = 'true';                  
                }
              }); 
              if($category == 'false') {
                $this.hide();
              }
            }
          });          
        });        
        setTimeout(function() {
          $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
        }, 1500);        
      } else {
        $('.views-location .view-btn > span > span').html('');
        $('.views-location').removeClass('active');
        $('.views-location .view-btn').removeClass('filter-selected');
        $('.view-btn-container-box.views-location').removeClass('active');  
        $('.wholesale-list-box-wrapper > ul > li').show();
        $('.wholesale-list-box-wrapper > ul').find('> li:visible').each(function() {
          let $category = 'false';
          let $this = $(this);
          var $collection = $this.attr('data-collection');          
          $.ajax({
            url: $collection,
            type: 'GET',
            dataType: 'html',
            success: function(responseHTML){
              $totals = $(responseHTML).find('.newcollection-wrap > li').length;
              $(responseHTML).find('.newcollection-wrap > li').each(function() {
                let $li = $(this);
                let $li_flag = 'false';
                $('.views-category .view-btn-container').find('.view-btnd-item.active').each(function() {
                  if($li.attr('data-category').includes($(this).find('> span').html())) {
                    $li_flag = 'true';
                    return false;
                  }
                });
                if($li_flag == 'true') {
                  $this.find('.collection-list-box > ul').append($li.get(0).outerHTML);
                  $category = 'true';                  
                }
              }); 
              if($category == 'false') {
                $this.hide();
              }
            }
          });          
        });        
        setTimeout(function() {
          $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
        }, 1500);
      }
    } else {    
      if($('.views-location .view-btn-container').find('.view-btnd-item.active').length > 0) {
        $('.views-location .view-btn > span > span').html('');
        $('.views-location').removeClass('active');
        $('.views-location .view-btn').removeClass('filter-selected');
        $('.view-btn-container-box.views-location').removeClass('active');  
        $('.wholesale-list-box-wrapper > ul > li').show();
        $('.wholesale-list-box-wrapper > ul').find('> li:visible').each(function() {
          let $category = 'false';
          let $this = $(this);
          var $collection = $this.attr('data-collection');          
          $.ajax({
            url: $collection,
            type: 'GET',
            dataType: 'html',
            success: function(responseHTML){
              $totals = $(responseHTML).find('.newcollection-wrap > li').length;
              $(responseHTML).find('.newcollection-wrap > li').each(function() {
                let $li = $(this);
                let $li_flag = 'false';
                $('.views-category .view-btn-container').find('.view-btnd-item.active').each(function() {
                  if($li.attr('data-category').includes($(this).find('> span').html())) {
                    $li_flag = 'true';
                    return false;
                  }
                });
                if($li_flag == 'true') {
                  $this.find('.collection-list-box > ul').append($li.get(0).outerHTML);
                  $category = 'true';                  
                }
              }); 
              if($category == 'false') {
                $this.hide();
              }
            }
          });          
        });        
        setTimeout(function() {
          $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
        }, 1500);
      } else {
        $('#filters_val').val(0);
        $('.views-all').trigger('click');        
      }
    }
  });

  $('.views-all').click(function() {
    $('#filters_val').val(0);
    $('.view-btn-wrap').removeClass('active');
    $(".section-wrapper .section-collection-list:hidden").show();
    $('.views-location .view-btn > span > span').html('');
    $('.views-location .view-btn').removeClass('filter-selected');
    $('.views-category .view-btn > span > span').html('');
    $('.views-category .view-btn').removeClass('filter-selected');
    $('.view-btn-container-box .view-btnd-item.active').removeClass('active');
    $('.views-location').removeClass('active');
    $('.views-category').removeClass('active');
    $('.wholesale-list-box-wrapper > ul > li').hide();
    $('.wholesale-list-box-wrapper > ul > li ul > li').remove();
    $('.view-btn-container-box.views-all').addClass('active');
    
    var $vcount = 0;
    var $hcount = 0;
    if ($(window).width() < 768) {
      $vcount = $('#rowmobileval').val();
      $hcount = $('#columnmobileval').val();
    } else {
      $vcount = $('#rowdesktopval').val();
      $hcount = $('#columndesktopval').val();
    }
    $('.next_url').val(1);
    var $nextval = $('.next_url').val();
    if($(".wholesale-list-box-wrapper > ul > li:hidden").length > 0) {
      $(".wholesale-list-box-wrapper > ul > li:hidden").slice(0, $vcount).each(function(index) {
        var $this = $(this);      
        $.ajax({
          url: $this.attr('data-collection'),
          type: 'GET',
          dataType: 'html',
          success: function(responseHTML){                      
            if($(responseHTML).find('.newcollection-wrap > li').length > 0) {
              $(responseHTML).find('.newcollection-wrap > li').slice(0,$hcount).each(function() {
                $this.find('.collection-list-box > ul').append($(this).get(0).outerHTML);
              });
              if($(responseHTML).find('.newcollection-wrap > li').length > $hcount) {
                $this.find('.collection-list-box > ul').append('<li class="grid__item"><div class="load_more_section_column"><input type="hidden" value="1" class="column_url"><div class="load-more_wrap"><img src="https://cdn.shopify.com/s/files/1/0610/8233/7518/files/loadmore.png?v=1650356256" alt="load more button" width=24 height=24><button class="btn js-load-more-column">Load more</button></div></div></li>');
              }
              $this.show();            
            } else {
              $this.hide();
            }
          },    
          complete: function() {                    
            $nextval++;
            $('.next_url').val($nextval);
            if($(".wholesale-list-box-wrapper > ul > li:hidden").length < 1) {
              $('.js-load-more').hide();
            }
          }
        });
      });    
    }
    $('.wholesale-list-box-wrapper > ul').css('opacity', '1');
  });
</script>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 50,
  "settings": [
    {
      "type": "text",
      "id": "mobile_show_collection",
      "default": "3",
      "label": "Mobile collection view max"
    },
	{
      "type": "text",
      "id": "desktop_show_collection",
      "default": "5",
      "label": "Desktop collection view max"
    },
	{
      "type": "text",
      "id": "mobile_show_product",
      "default": "7",
      "label": "Mobile product view max"
    },
	{
      "type": "text",
      "id": "desktop_show_product",
      "default": "10",
      "label": "Desktop product view max"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}

