{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
{% comment %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% endcomment %}
{% assign collection = collections['latest-drops'] %}
<section class="section-homepage-banner collection-top">  
  <div class="page-width">
  <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
  {%- if settings.predictive_search_enabled -%}
  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
      <div class="field">
        <input class="search__input field__input"
               id="Search-In-Modal"
               type="search"
               name="q"
               value=""
               placeholder="Search products or shops"
               {%- if settings.predictive_search_enabled -%}
               role="combobox"
               aria-expanded="false"
               aria-owns="predictive-search-results-list"
               aria-controls="predictive-search-results-list"
               aria-haspopup="listbox"
               aria-autocomplete="list"
               autocorrect="off"
               autocomplete="off"
               autocapitalize="off"
               spellcheck="false"
               {%- endif -%}
               >
        <label class="field__label" for="Search-In-Modal">Search products or shops</label>
        <input type="hidden" name="options[prefix]" value="last">
        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
          <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-search">
          </svg>
        </button>
      </div>

        {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
          <div class="predictive-search__loading-state">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>

        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}
    </form>
  {%- if settings.predictive_search_enabled -%}
  </predictive-search>
  {%- endif -%}  
  </div>
  </div>
</section>
  
<section class="section-collection-info">
  <div class="page-width">
    <div class="collection-info-box">            
      <p class="cinfo-title">{{ collection.title }}</p>      
    </div>
  </div>
</section>

<div class="section-{{ section.id }}-padding">
  <div id="ProductGridContainer">
    
    {%- paginate collection.products by 1000 -%}
    {% assign productlist = collections[collection.handle].products | sort : 'published_at' | reverse %}
      {%- if productlist.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection page-width">
          <div class="loading-overlay gradient"></div>
  
          <ul id="product-grid" data-id="{{ section.id }}" class="
            grid product-grid grid--2-col-tablet-down
            grid--4-col-desktop newcollection-wrap">            
            {%- for product in productlist -%}
              {% assign lazy_load = true %}
              {% if product.available %}
                {%- if product.featured_media -%}
            	  {% assign productTags = product.tags | join: ',' %}
                  <li class="grid__item" data-category="{{ productTags }}">
                    {% render 'card-product-recommend',
                      card_product: product,
                      media_aspect_ratio: 'adapt',
                      show_secondary_image: 'false',
                      show_vendor: 'false',
                      show_rating: 'false',
                      lazy_load: lazy_load
                    %}
                  </li>
            	{%- endif -%}
              {% endif %}
            {%- endfor -%}
          </ul>
          {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>
  
<script type="text/javascript">
  $(document).ready(function() {
    $(".newcollection-wrap li.grid__item:hidden").slice(0, 16).slideDown();
  });
  $(window).scroll(function () {
    if($(window).scrollTop() > $(document).height() - jQuery(window).height() - 40) {
      $(".newcollection-wrap li.grid__item:hidden").slice(0, 16).slideDown();    
    }
  });
</script>  
{% schema %}
  {
    "name": "Collection Page Template",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
